#create-record {
  min-height: 510px;
  font-family: "K2D", sans-serif;
}

#create-record h1 {
  font-size: 40px;
  text-align: center;
}

.submission-form {
  max-width: 500px;
  margin: 2rem auto;
  padding: 2rem;
  border-radius: 5px;
  margin-bottom: 100px;
}

input {
  display: block;
  width: 100%;
  border: 2px solid gray;
  padding: 0.5rem;
  font-size: 18px;
  border-radius: 5px;
  margin: 10px;
}

#sendBtn {
  border: 0;
  background: gray;
  padding: 0.5rem;
  color: white;
  margin: 10px;
  width: auto;
  cursor: pointer;
  line-height: 25px;
}
