#attendant-record {
  min-height: 510px;
}

#record-title h1 {
  text-align: center;
  font: normal bold 45px "K2D", sans-serif;
}

#record-table table {
  text-align: center;
  width: 900px;
  margin: auto;
  table-layout: fixed;
}

#record-table table,
tr,
th,
td {
  padding: 10px;
  border: 1px solid whitesmoke;
  font: normal 21px "K2D", sans-serif;
  border-collapse: collapse;
}

td:hover {
  background-color: gray;
  cursor: pointer;
}
